<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
            width: 100%;
        }
    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBSQ9YBc1bZBEtRgNXw46OJ5p7ssOjiM84"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>

        // This example creates a 2-pixel-wide red polyline showing the path of William
        // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
        // Brisbane, Australia.

        function initialize() {
            var route = [

                {{ range $coordinate := . }}
                    {lat: {{$coordinate.Latitude}}, lng: {{$coordinate.Longitude}}},
                {{ end }}
            ]

            var routeBounds = new google.maps.LatLngBounds();

            for (var i = 0; i < route.length; i++) {

                var latlng = new google.maps.LatLng(route[i].lat, route[i].lng)
                routeBounds.extend(latlng)
            }

            var map = new google.maps.Map(document.getElementById('map'), {
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });

            map.fitBounds(routeBounds);

            var flightPath = new google.maps.Polyline({
                path: route,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            flightPath.setMap(map);
        }

        // Call initialize on window load.
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
    <div id="map"></div>
</body>
</html>