<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
    </style>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBSQ9YBc1bZBEtRgNXw46OJ5p7ssOjiM84"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script>

        // This example creates a 2-pixel-wide red polyline showing the path of William
        // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
        // Brisbane, Australia.

        function initialize() {
            var route = [

                {{ range $coordinate := . }}
                    {lat: {{$coordinate.Latitude}}, lng: {{$coordinate.Longitude}}},
                {{ end }}
            ]

            var routeBounds = new google.maps.LatLngBounds();

            for (var i = 0; i < route.length; i++) {

                var latlng = new google.maps.LatLng(route[i].lat, route[i].lng)
                routeBounds.extend(latlng)
            }

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: new google.maps.LatLng(0, 0),
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });

            map.fitBounds(routeBounds);

            var flightPath = new google.maps.Polyline({
                path: route,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            flightPath.setMap(map);
        }

        function rad2degr(rad) {
            return rad * 180 / Math.PI;
        }

        function degr2rad(degr) {
            return degr * Math.PI / 180;
        }

        function getLatLngCenter(latLng) {
            var sumX = 0;
            var sumY = 0;
            var sumZ = 0;

            for (var i = 0; i < latLng.length; i++) {
                var lat = degr2rad(latLng[i].lat)
                var lng = degr2rad(latLng[i].lng)

                sumX += Math.cos(lat) * Math.cos(lng);
                sumY += Math.cos(lat) * Math.sin(lng);
                sumZ += Math.sin(lat);
            }

            var avgX = sumX / latLng.length;
            var avgY = sumY / latLng.length;
            var avgZ = sumZ / latLng.length;

            var lng = Math.atan2(avgY, avgX);
            var hyp = Math.sqrt(avgX * avgX + avgY * avgY);
            var lat = Math.atan2(avgZ, hyp);

            return new google.maps.LatLng(rad2degr(lat), rad2degr(lng));
        }

        // Call initialize on window load.
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
<div id="map"></div>
</body>
</html>